{% include 'menu.html' %}

<h2>Manual Unblock</h2>

<form action="/manual-unblock" method="post">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" name="username" required></td>
        </tr>
        <tr>
            <td>Quota:</td>
            <td><input type="text" name="quota" value="2000"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Unblock">
            </td>
        </tr>
    </table>
</form>

<h3>Log:</h3>
<pre>
{% for log in logs %}
    {{ log }}
{% endfor %}
</pre>

{% if error %}
<div class="error">
    {{ error }}
</div>
{% endif %}

{% if success %}
<div class="success">
    {{ success }}
</div>
{% endif %}
