<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search User/IP</title>
</head>
<body>
    {% include 'menu.html' %}
    <br>
    
    <form action="/search" method="post">
        <input type="text" name="search_term" placeholder="Enter username or IP">
        <input type="submit" value="Search">
    </form>
    {% if results %}
    <table border="1">
        <thead>
            <tr>
                <th>Username</th>
                <th>IP Address</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result[0] }}</td>
                <td>{{ result[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    